<nav class="navbar fixed-top navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="index"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link text-dark" href="index"> <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link text-dark" href="https://play.google.com/"></a>
            <a class="nav-item nav-link text-dark" href="contact"></a>
            <a class="nav-item nav-link text-dark" href="signup"></a>
            <a class="nav-item nav-link text-dark" href="login"></a>
        </div>
    </div>
</nav>